In [1]:
cd ..

c:\Users\phili\Documents\code\spotify-playlist

c:\Users\phili\Documents\code\spotify-playlist\.venv\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
from db.db import insert_song, insert_artist, insert_spotify_track_by_song_id, get_song, get_artist

In [3]:
%load_ext magic_duckdb

In [4]:
%dql -cn db/duck.db

In [14]:
%dql --close

In [5]:
songs_df = %dql SELECT * FROM songs
songs_df

,id,name,artists
0,1,10000 Reasons,"[Jonas Myrin, Matt Redman]"
1,2,Agnus Dei,[Michael W. Smith]
2,3,Almighty,"[Anna Brading, Jotham Oakley, Simon Brading]"
3,4,Alpha and Omega,[Erasmus Mutanbira]
4,5,Amazing Grace/My chains are gone,[Chris Tomlin]
...,...,...,...
198,199,Yet Not I But Through Christ In Me,"[Jonny Robinson, Michael Farren, Rich Thompson]"
199,200,You Are Good,[Israel Houghton]
200,201,You Deserve It All,"[Josh Baldwin, Joe Volk, Bobby Strand, Kalley...]"
201,202,You're Worthy of My Praise,[David Ruis]
202,203,Zehntausend Gründe,"[David Hanheiser, David Schnitter, Jonas Myrin..."

In [8]:
%dql UPDATE songs SET name = REPLACE(name, ' (Ü)', '')

   Count
0    203

In [6]:
songs_iter = songs_df.itertuples()

In [29]:
_, id, song_name, artists = next(songs_iter)

print(f"{id}: {song_name} by {artists}")
artists_names = (a.strip().split() for a in artists)
artists_names = [(a[0], a[-1]) for a in artists_names if len(a) >= 2]
print(artists_names)

insert_song(song_name, artists_names)

# ui_insert = input("Insert song? (y/n)")
# if ui_insert.lower() == 'y':
#     insert_song(song_name, artists_names)

16: Cornerstone by ['Edward Mote' 'Eric Liljero' 'Jonas Myrin' 'Reuben ...']
[('Edward', 'Mote'), ('Eric', 'Liljero'), ('Jonas', 'Myrin'), ('Reuben', '...')]

In [28]:
insert_song(song_name, artists_names)

2024-05-13 00:54:43,577 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-13 00:54:43,580 INFO sqlalchemy.engine.Engine SELECT song.id, song.name, song.ccli_number
FROM song
WHERE song.name = ?
2024-05-13 00:54:43,583 INFO sqlalchemy.engine.Engine [cached since 287.6s ago] ('Christ Is Enough',)
2024-05-13 00:54:43,585 INFO sqlalchemy.engine.Engine ROLLBACK

2024-05-13 00:54:43.586 | INFO     | db.db:insert_song:62 - Song Christ Is Enough already exists in the database

In [23]:
arts = ["Mariah, McManus", "Mia, Fieldes", "Nam, Son Pham"]
arts = ["Wolfgang, Zorn", "Thomas, Chisholm", "William, Runyan"]
arts = ["Beth Redman", "Matt Redman"]
arts = [('Brett', 'Younker'), ('Karl', 'Martin'), ('Kirby', 'Kaple'), ('Matt', 'Redman'), ('Patt', 'Barrett')]
# ans = [a.split(" ") for a in arts]
ans = arts
print(song_name)
print(ans)
insert_song(song_name, ans)
# for an in ans:
    # insert_artist(*an)

Build My Life
[('Brett', 'Younker'), ('Karl', 'Martin'), ('Kirby', 'Kaple'), ('Matt', 'Redman'), ('Patt', 'Barrett')]
2024-05-13 00:53:36,744 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-13 00:53:36,745 INFO sqlalchemy.engine.Engine SELECT song.id, song.name, song.ccli_number
FROM song
WHERE song.name = ?
2024-05-13 00:53:36,746 INFO sqlalchemy.engine.Engine [cached since 220.8s ago] ('Build My Life',)
2024-05-13 00:53:36,746 INFO sqlalchemy.engine.Engine ROLLBACK
2024-05-13 00:53:36,750 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-13 00:53:36,751 INFO sqlalchemy.engine.Engine SELECT artist.id, artist.first_name, artist.last_name
FROM artist
WHERE artist.first_name = ? AND artist.last_name = ?
2024-05-13 00:53:36,752 INFO sqlalchemy.engine.Engine [cached since 220.8s ago] ('Brett', 'Younker')
2024-05-13 00:53:36,754 INFO sqlalchemy.engine.Engine ROLLBACK
2024-05-13 00:53:36,755 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-13 00:53:36,757 INFO sqlalchemy.engine.Engine SELECT artist.id, artist.first_name, artist.last_name
FROM artist
WHERE artist.first_name = ? AND artist.last_name = ?
2024-05-13 00:53:36,758 INFO sqlalchemy.engine.Engine [cached since 220.8s ago] ('Karl', 'Martin')
2024-05-13 00:53:36,759 INFO sqlalchemy.engine.Engine ROLLBACK
2024-05-13 00:53:36,761 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-13 00:53:36,762 INFO sqlalchemy.engine.Engine SELECT artist.id, artist.first_name, artist.last_name
FROM artist
WHERE artist.first_name = ? AND artist.last_name = ?
2024-05-13 00:53:36,764 INFO sqlalchemy.engine.Engine [cached since 220.8s ago] ('Kirby', 'Kaple')
2024-05-13 00:53:36,765 INFO sqlalchemy.engine.Engine ROLLBACK
2024-05-13 00:53:36,766 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-13 00:53:36,767 INFO sqlalchemy.engine.Engine SELECT artist.id, artist.first_name, artist.last_name
FROM artist
WHERE artist.first_name = ? AND artist.last_name = ?
2024-05-13 00:53:36,768 INFO sqlalchemy.engine.Engine [cached since 220.8s ago] ('Matt', 'Redman')
2024-05-13 00:53:36,770 INFO sqlalchemy.engine.Engine ROLLBACK
2024-05-13 00:53:36,770 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-13 00:53:36,770 INFO sqlalchemy.engine.Engine SELECT artist.id, artist.first_name, artist.last_name
FROM artist
WHERE artist.first_name = ? AND artist.last_name = ?
2024-05-13 00:53:36,770 INFO sqlalchemy.engine.Engine [cached since 220.8s ago] ('Patt', 'Barrett')
2024-05-13 00:53:36,770 INFO sqlalchemy.engine.Engine ROLLBACK
2024-05-13 00:53:36,778 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-13 00:53:36,780 INFO sqlalchemy.engine.Engine INSERT INTO artist (first_name, last_name) VALUES (?, ?) RETURNING id
2024-05-13 00:53:36,781 INFO sqlalchemy.engine.Engine [generated in 0.00017s (insertmanyvalues) 1/4 (ordered; batch not supported)] ('Brett', 'Younker')
2024-05-13 00:53:36,784 INFO sqlalchemy.engine.Engine INSERT INTO artist (first_name, last_name) VALUES (?, ?) RETURNING id
2024-05-13 00:53:36,785 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/4 (ordered; batch not supported)] ('Karl', 'Martin')
2024-05-13 00:53:36,786 INFO sqlalchemy.engine.Engine INSERT INTO artist (first_name, last_name) VALUES (?, ?) RETURNING id
2024-05-13 00:53:36,787 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/4 (ordered; batch not supported)] ('Kirby', 'Kaple')
2024-05-13 00:53:36,788 INFO sqlalchemy.engine.Engine INSERT INTO artist (first_name, last_name) VALUES (?, ?) RETURNING id
2024-05-13 00:53:36,789 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/4 (ordered; batch not supported)] ('Patt', 'Barrett')
2024-05-13 00:53:36,790 INFO sqlalchemy.engine.Engine INSERT INTO song (name, ccli_number) VALUES (?, ?)
2024-05-13 00:53:36,791 INFO sqlalchemy.engine.Engine [cached since 220.8s ago] ('Build My Life', None)
2024-05-13 00:53:36,792 INFO sqlalchemy.engine.Engine INSERT INTO artistsonglink (artist_id, song_id) VALUES (?, ?)
2024-05-13 00:53:36,794 INFO sqlalchemy.engine.Engine [cached since 220.8s ago] [(1, 13), (22, 13), (25, 13), (24, 13), (23, 13)]
2024-05-13 00:53:36,794 INFO sqlalchemy.engine.Engine COMMIT

['Jonas', 'Myrin']

In [20]:
next(artists_names)

StopIteration:

In [ ]:
from db import insert_spotify

In [ ]:
# insert_spotify(song_id=1, spotify_id='0fxpHpK3aw2nFWII6yveDD')
# insert_spotify(song_id=1, spotify_id='3DgwAwHOyxfpQUuuMzvzUN')
insert_spotify(song_id=2, spotify_id='1N9SysNAP8j4wbAIHzlM9m')

In [ ]:
%%dql 
SELECT 
    so.id
    , so.name
    , sp.track_id 
FROM 
    songs so 
    LEFT JOIN spotify sp ON so.id = sp.song_id 
ORDER BY so.id

In [ ]:
%dql --close